/***********************************/
/* ScreenBloom *********************/
/***********************************/

/* Main Structural Styles **********/
body, html {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	background: url(../images/batthern.png);
}

#edit-settings-wrapper {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(62, 62, 62, 0.7);
}

#header {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	height: 11vh;
	min-width: 50vh;
	font-color: white;
	font-size: 2vh;
	background-color: #3e3e3e;
	box-shadow: 0px 1px 8px 1px #000000;
}

#container {
	position:  relative;
	margin: 0 auto;
	padding: 1vh;
	height: 87vh;
	min-width: 50vh;
	max-width: 100vh;
	width: 70%;
	text-align: center;
	background-color: white;
	box-shadow: 0 5px 10px -2px #000000;
}

#exit-link {
	display: block;
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	width: 10vh;
	text-decoration: none;
	color: #0086b3;
	font-size: 2.5vh;
	border: 3px solid #0086b3;
}

#exit-link:hover {
	color: white;
	background-color: #0086b3;
	box-shadow: 1px 1px 3px #000;
}

/* General class to add CSS animation to element */
.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.raleway {
	font-family: 'Raleway', sans-serif;	
}

/* Edit Settings div ***************/
#edit-settings {
	position: relative;
	margin: 0 auto;
	margin-top: 4vh;
	z-index: 6;
	width: 58vh;
	height: 90vh;
	background-color: white;
	box-shadow: 0 5px 10px -2px #000000;
}

#notification {
	display: none;
	position: absolute;
	z-index: 6;
	top: 15vh;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #0086b3;
	width: 40vh;
	height: 15vh;
	line-height: 15vh;
	color: white;
	text-align: center;
	box-shadow: 0 5px 10px -2px #000000;
}

.box {
	margin: 0 auto;
	padding: 1.50vh;
	width: 35vh;
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
}

.title {
	position: absolute;
	top: -2vh;
	left: 2vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: white;
}

.blurb {
	font-size: 2vh;
}

.slider {
	margin: 1vh auto;
}

/* HTML 5 Sliders */
input[type='range'] {
	-webkit-appearance: none;	
	vertical-align: middle;
	height: 1vh;	
	width: 80%;
	background-color: #999;	
	box-shadow: inset 0 0 5px #333;
}

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	vertical-align: middle;
	height: 1vh;	
	width: 80%;
	background-color: #999;	
	box-shadow: inset 0 0 5px #333;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #FFF;
	height: 3vh;
	width: 5vh;
	box-shadow: inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
	background-color: #0086b3;
	cursor: pointer;
	border: 1px solid transparent;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	background-color: #FFF;
	height: 3vh;
	width: 5vh;
	box-shadow: inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='range']::-moz-range-thumb:hover {
	background-color: #0086b3;
	cursor: pointer;
	border: 1px solid transparent;
}

output {
	display: inline-block;
	margin: 0 auto;
	width: 5vh;
	font-size: 3vh;
}

.slider-max {
	display: inline-block;
	margin: 0 auto;
	width: 12vh;
	font-size: 2vh;
}

#saturation {
	position: relative;
	top: 3vh;
}

#brightness {
	position: relative;
	margin-top: 7vh;
}

#brightness-title {
	left: 20vh;
	width: 16vh;
}

#transition {
	position: relative;
	margin-top: 5vh;
}

#apply {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1vh;
	margin: 0 auto;
	height: 5vh;
	line-height: 5vh;
	width: 25vh;
	background-color: #0086b3;
	color: white;
	text-align: center;
	font-size: 3vh;
}

#apply:hover {
	cursor: pointer;
	background-color: #FF2800;
}

#edit-settings i {
	position: absolute;
	top: 1vh;
	right: 1vh;
	font-size: 4vh;
}

#edit-settings i:hover {
	cursor: pointer;
	color: #FF2800;
}

/* Header **********************/
#header-container {
	margin: 0 auto;
	width: 53vh;
	text-align: center;
}

.header-title {
	display: inline-block;
	margin: 0 auto;
	font-size: 8vh;
}

/* Main Container Content **********/
#current-settings {
	position: relative;
	margin: 5vh auto;
	padding: 1vh;
	width: 35vh;
	min-height: 15vh;
	border: 2px solid black;
	border-radius: 5px;
}

#settings-title {
	position: absolute;
	top: -2vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: white;
}

#settings-labels, #settings-values {
	display: inline-block;
	margin: 0 auto;
	width: 15vh;
	font-size: 1.75vh;
}

#settings-labels {
	text-align: right;
	font-weight: bold;
}

#settings-values {
	text-align: left;
}

#trans-value {
	display: inline-block;
}

#ms {
	display: inline-block;
	margin: 0 .5vh;
}

#edit-settings-icon {
	position: absolute;
	bottom: 0.25vh;
	left: 1vh;
	width: 6vh;
}

#edit-settings-icon:hover {
	cursor: pointer;
	color: #0086b3;
}

#on-indicator {
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	min-width: 19vh;
}

#on-indicator span, #edit-settings-icon span {
	margin: 0;
	display: inline-block;
	font-size: 1.25vh;
}

#on-indicator i, #edit-settings-icon i {
	margin: 0;
	display: inline-block;
	font-size: 4vh;
}

#edit-settings-icon span {
	position: relative;
	left: -0.5vh;
	bottom: 0.10vh;
}

#edit-settings-icon i {
	font-size: 2vh;
}

#bulbs{
	position: relative;
	margin: 5vh auto;
	padding: 3vh;
	width: 35vh;
	height: 15vh;
	border-top: 2px solid black;
	border-radius: 5px;
}

#bulbs-title {
	position: absolute;
	top: -2vh;
	right: 3vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: white;
}

.bulb-container {
	display: inline-block;
	margin: 0 2vh;	
}

.bulb-container i {
	margin: 0;
	font-size: 14vh;
}

.bulb-container span {
	font-size: 2vh;
	display: block;
}

#start-stop {
	position: relative;
	margin: 5vh auto;
	padding: 3vh;
	width: 40vh;
	border-top: 2px solid black;
	border-radius: 5px;
}

#start-stop-title {
	position: absolute;
	top: -2.25vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: white;
}

.main-button {
	display: inline-block;
	margin: 0 1vh;
	height: 16vh;	
	width: 16vh;
	line-height: 16vh;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px #000;
	font-size: 2.5vh;
	color: white;
}

.main-button:hover {
	cursor: pointer;
	opacity: 0.40;
}

.button-selected {
	opacity: 0.6;
}

/* New User Page *****************************/
#greeting {

}

#greeting h1 {
	margin: 0;
	font-size: 20vh;
}

#welcome-blurb {
	margin: 0 auto;
	margin-top: 5vh;
	width: 80%;
	font-size: 2vh;
}

#blurb-text {
	position: relative;
	bottom: 5vh;
}

.instruction {
	display: inline-block;
	position: relative;
	margin: 2vh auto;
	bottom: 1.25vh;
	left: .5vh;
}

.welcome-number {
	margin: 0;
	font-size: 6vh;
}

#username {
	margin: 0 auto;
	display: block;
	padding-left: 2vh;
	width: 40vh;
	height: 6vh;
	line-height: 6vh;
	border: .3vh solid black;
	font-size: 5vh;
	border-radius: 1vh
}

.validation {
	display: none;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 35.50vh;
	font-size: 1.25vh;
}

#register {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 2vh;
	height: 10vh;
	line-height: 10vh;
	width: 90%;
	background-color: #0086b3;
	color: white;
	font-size: 5vh;
	border-radius: 1vh;
	text-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

#register:hover {
	cursor: pointer;
	background-color: #00ace6;
}