/***********************************/
/* ScreenBloom *********************/
/***********************************/

/* Main Structural Styles **********/
body, html {
	position: relative;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	color: #4a4a4a !important;
	background: url(../batthern.png);
}

#edit-settings-wrapper {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(62, 62, 62, 0.7);
}

#header {
	position: relative;
	margin: 0 auto;
	z-index: 2;
	height: 11vh;
	min-width: 50vh;
	font-color: white;
	font-size: 2vh;
	background-color: #3e3e3e;
	box-shadow: 0px 1px 8px 1px #000000;
}

#container {
	position:  relative;
	margin: 0 auto;
	padding: 1vh;
	min-height: 87vh;
	min-width: 50vh;
	max-width: 100vh;
	width: 70%;
	text-align: center;
	background-color: #EEEEEE;
	box-shadow: 0 5px 10px -2px #000000;
}

/* General class to add CSS animation to element */
.animate {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/* Special animate classes for color transitions */
.color-animate {
	-moz-transition-property: color;  /* FF4+ */
	-moz-transition-duration: 2s;
	-webkit-transition-property: color;  /* Saf3.2+, Chrome */
	-webkit-transition-duration: 2s;
	-o-transition-property: color;  /* Opera 10.5+ */
	-o-transition-duration: 2s;
	-ms-transition-property: color;  /* IE10? */
	-ms-transition-duration: 2s;
	transition-property: color;  /* Standard */
	transition-duration: 2s;
}

.lobster {
	font-family: 'Lobster', cursive;
}

.raleway {
	font-family: 'Raleway', sans-serif;	
}

/* Edit Settings div ***************/
#edit-settings {
	position: relative;
	margin: 0 auto;
	margin-top: 4vh;
	padding-top: 2vh;
	padding-bottom: 1vh;	
	z-index: 6;
	width: 50vh;
	min-height: 75vh;
	background-color: #EEEEEE;
	box-shadow: 0 5px 10px -2px #000000;
	border-radius: .75vh;
}

.edit-settings-page {
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	margin: 0 auto;
}

.edit-settings-arrows {
	position: relative;
	top: 62vh;
	text-align: center;
	font-size: 4vh;
	color: #0086b3;
}

.edit-settings-arrows i:hover {
	cursor: pointer;
	color: #004d67;
}

#edit-settings-close {
	position: absolute;
	z-index: 6;
	top: 1vh;
	right: 1vh;
	font-size: 4vh;
	color: #0086b3;
	text-shadow: 1px 1px .5px #000;
}

#edit-settings-close:hover {
	cursor: pointer;
	color: #004d67;
}

#notification {
	display: none;
	position: absolute;
	z-index: 6;
	top: 15vh;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #0086b3;
	width: 40vh;
	height: 15vh;
	line-height: 15vh;
	color: white;
	text-align: center;
	box-shadow: 0 5px 10px -2px #000000;
}

.box {
	margin: 0 auto;
	padding: 1.50vh;
	width: 35vh;
	border: 2px solid #007AA3;
	border-radius: 5px;
	text-align: center;
}

.title {
	position: absolute;
	top: -2vh;
	left: 2vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: #EEEEEE;
}

.blurb {
	font-size: 2vh;
}

.slider {
	margin: 1vh auto;
}

/* HTML 5 Sliders */
input[type='range'] {
	-webkit-appearance: none;	
	vertical-align: middle;
	height: .5vh;	
	width: 80%;
	background-color: #0AC08A;	
	box-shadow: .5px .5px .5px #333;
}

input[type='range']::-moz-range-track {
	-moz-appearance: none;
	vertical-align: middle;
	height: .5vh;	
	width: 80%;
	background-color: #0AC08A;	
	box-shadow: .5px .5px .5px #333;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	background-color: #FFF;
	height: 3vh;
	width: 3vh;
	border-radius: 50%;
	box-shadow: 1px 1px 1px #333;
	background-color: #0086b3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
	cursor: pointer;
	border: 1px solid transparent;
	background-color: #004d67;
}

input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	background-color: #FFF;
	height: 3vh;
	width: 5vh;
	border-radius: 4vh;
	background-color: #0086b3;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

input[type='range']::-moz-range-thumb:hover {
	background-color: #004d67;
	cursor: pointer;
	border: 1px solid transparent;
}

output {
	display: inline-block;
	margin: 0 auto;
	width: 5vh;
	font-size: 3vh;
}

.slider-max {
	display: inline-block;
	margin: 0 auto;
	width: 5vh;
	font-size: 2vh;
}

#bulb-select {
	position: relative;
	top: 2vh;
	min-height: 9vh;
}

#bulb-select-expanded-close:hover {
	cursor: pointer;
	color: red;
}

#bulb-select div, #bulb-select-expanded div {
	margin: .75vh 0;
	padding: .75vh;
	border-radius: .5vh;
	border: none;
	background-color: rgba(62, 62, 62, 0.4);
	color: rgba(62, 62, 62, 0.4);
}

#bulb-select div:active,  #bulb-select-expanded div:active {
	box-shadow: 0 0 15px 3px rgba(22, 133, 255, 0.9);
}

#bulb-select div:hover, #bulb-select-expanded div:hover {
	cursor: pointer;
	color: white;
	text-shadow: 1px 1px 3px #000;
	background-color: #004d67;
}

.bulb-select-selected {
	color: white !important;
	text-shadow: 1px 1px 3px #000 !important;
	background-color: #0086b3 !important;
}

.bulb-select-selected:hover {
	background-color: #004d67 !important;
}

#bulb-select-title {
	height: 3.75vh;
	width: 17vh;
	left: 19vh;
}

.bulb-select-icon {
	box-shadow: 1px 1px 3px #000 !important;
}

#bulb-select i {
	font-size: 2vh;
}

.bulb-select-input {
	display: none;
	margin: 0;
	height: 1vh;
	line-height: 1vh;
	width: 2vh;
}

#bulb-select #more-bulbs {
	display: none;
	position: absolute;	
	margin: 0;
	right: .25vh;
	bottom: 0;
	width: 4vh;
	height: 2vh;
	background-color: #EEEEEE;
}

#bulb-select #more-bulbs:hover {
	text-shadow: none;	
	color: red;
}

#bulb-select #more-bulbs:hover > #show-more-icon {
	color: red;
}

#bulb-select #show-more-icon {
	position: relative;
	bottom: .75vh;
	height: 1vh;
	font-size: 3vh;
	color: #004d67;
}

#bulb-select-expanded {
	display: none;
	position: absolute;
	z-index: 3;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 2vh;
	width: 44vh;
	min-height: 1vh;
	background-color: #EEEEEE;
}

#bulb-select-expanded-close {
	position: absolute;
	right: .5vh;
	top: .5vh;
}

#bulb-select-expanded-close {
	font-size: 4vh;
	color: #0086b3;
	text-shadow: 1px 1px .5px #000;
}

#bulb-select-expanded-title {
	width: 32vh;
	left: 8vh;
}

#bulb-select-expanded i {
	font-size: 1.75vh;
}

#show-all {
	font-size: .9vh;
	color: #004d67;
}

#bulb-select #more-bulbs:hover > #show-all {
	color: red;
}

#brightness {
	position: relative;
	margin-top: 4vh;
}

#brightness-title {
	left: 20vh;
	width: 16vh;
}

#dynamic-brightness {
	position: relative;
	margin-top: 2vh;
	height: 10vh;
}

#dynamic-brightness-title {
	height: 3.50vh;
	width: 28vh;
	left: 8vh;
}

#dynamic-bri-container {
	position: relative;
	margin: 0 auto;
	height: 9vh;
	width: 75%;
} 

#dynamic-bri-input {
	display: none;
	position: absolute;
	height: 1vh;
	width: 1vh;
	bottom: 0;
	left: 2.75vh;
}

#dynamic-bri-button {
	float: left;
	margin: .75vh 0;
	padding: .50vh;
	padding-top: 1vh;
	line-height: 6vh;
	height: 6vh;
	width: 6vh;
	background-color: rgba(62, 62, 62, 0.4);
	color: rgba(62, 62, 62, 0.4);
	text-shadow: none;
	box-shadow: 1px 1px 3px #000;
	border-radius: .5vh;
}

.dynamic-bri-on {
	background-color: #0086b3 !important;
	color: white !important;
	text-shadow: 1px 1px 3px #000 !important;
}

.dynamic-bri-on:hover {
	background-color: #004d67 !important;
}

#dynamic-bri-button:active {
	box-shadow: 0 0 15px 3px rgba(22, 133, 255, 0.9);
}

#dynamic-bri-button:hover {
	cursor: pointer;
	color: white;
	background-color: #004d67;
}

#dynamic-bri-button i {
	margin: 0;
	font-size: 3vh;
}

#dynamic-bri-button span {
	display: block;
	margin: 0 auto;
	width: 3vh;
	line-height: 2vh;
	height: 2vh;
	font-size: 1vh;
}

#dynamic-bri-slider-container {
	position: relative;
	float: right;
	width: 70%;
}

#dynamic-bri-slider-container span {
	position: relative;
	top: .5vh;
	font-size: 1.25vh;
}

#update-speed {
	position: relative;
	margin-top: 2vh;
}

#update-speed-title {
	height: 3.75vh;
	width: 23vh;
	left: 13vh;
}

#default-color-select {
	position: relative;
	margin-top: 2vh;
}

#default-color-title {
	height: 3.75vh;
	width: 23vh;
	left: 13vh;
}

#current-default {
	display: inline-block;
	float: left;
	border: 1px solid red;
}

#picker {
	display: inline-block;
	position: relative;
	margin-top: 1vh;
	width: 23vh;
}

#apply {
	position: relative;
	margin: 2vh auto;
	top: 63vh;
	height: 5vh;
	line-height: 5vh;
	width: 25vh;
	background-color: #0086b3;
	color: white;
	text-align: center;
	text-shadow: 1px 1px .5px #000;
	font-size: 3vh;
	box-shadow: 2px 2px 3px #000;
	border-radius: .5vh;
}

#apply:hover {
	cursor: pointer;
	background-color: #004d67;	
}

/* Header **********************/
#header-container {
	margin: 0 auto;
	min-width: 53vh;
	text-align: center;
}

.header-title {
	display: inline-block;
	margin: 0 auto;
	font-size: 8vh;
	color: black;
}

/* Main Container Content **********/
#current-settings {
	position: relative;
	margin: 5vh auto;
	padding: 1vh;
	width: 42vh;
	min-height: 18vh;
	border: 2px solid #007AA3;
	border-radius: 5px;
}

#settings-wrapper {
	margin: 0 auto;
	margin-top: 3.5vh;
	padding: 0;
	min-height: 1vh;
	min-width: 2vh;
}

#current-username {
	position: absolute;
	right: 1vh;
	top: .25vh;
	height: 2vh;
	min-width: 2vh;
	color: black;
	font-size: 2.25vh;
	font-style: italic;

}

#settings-title {
	position: absolute;
	top: -2vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: #EEEEEE;
}

#settings-labels, #settings-values {
	display: inline-block;
	margin: 0 auto;
	font-size: 1.75vh;
}

#settings-labels {
	text-align: right;
	font-weight: bold;
	min-width: 10vh;
}

#default-color-value {
	position: relative;
	top: .3vh;
	background-color: red;
	height: 1.75vh;
	width: 5vh;
	border: 1px solid #007AA3;
	border-radius: 5px;
	color: rgba(0,0,0,0.0);
}

#settings-values {
	position: relative;
	top: .1vh;
	text-align: left;
	width: 10vh;
}

#trans-value {
	display: inline-block;
}

#ms {
	display: inline-block;
	margin: 0 .5vh;
}

#edit-settings-icon {
	position: absolute;
	bottom: 0.25vh;
	left: 1vh;
	width: 6vh;
}

#edit-settings-icon:hover {
	cursor: pointer;
	color: #004d67;
}

#on-indicator {
	position: absolute;
	bottom: 1vh;
	right: 1vh;
	min-width: 19vh;
}

#on-indicator span, #edit-settings-icon span {
	margin: 0;
	display: inline-block;
	font-size: 1.25vh;
}

#on-indicator i, #edit-settings-icon i {
	margin: 0;
	display: inline-block;
	font-size: 4vh;
}

#edit-settings-icon span {
	position: relative;
	left: -0.5vh;
	bottom: 0.10vh;
}

#edit-settings-icon i {
	font-size: 2vh;
}

#bulbs{
	position: relative;
	margin: 3vh auto;
	padding: 3vh;
	width: 80%;
	min-height: 1vh;
	border-top: 2px solid #007AA3;
	border-radius: 5px;
}

#bulbs-title {
	position: absolute;
	top: -2vh;
	right: 3vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: #EEEEEE;
}

.bulb-container {
	display: inline-block;
	margin: .5vh 2vh;
}

.bulb-container i {
	margin: 0;
	font-size: 10vh;
}

.bulb-inactive {
	color: rgba(62, 62, 62, 0.4);
}

.bulb-container span {
	display: block;
	margin: 0;
	font-size: 1.25vh;
}

#start-stop {
	position: relative;
	margin: 3vh auto;
	padding: 3vh;
	width: 40vh;
	border-top: 2px solid #007AA3;
	border-radius: 5px;
}

#start-stop-title {
	position: absolute;
	top: -2.25vh;
	font-family: 'Raleway', sans-serif;	
	font-size: 3vh;
	background-color: #EEEEEE;
}

.main-button {
	display: inline-block;
	margin: 0 1vh;
	height: 16vh;	
	width: 16vh;
	line-height: 16vh;
	border-radius: 50%;
	box-shadow: 0 0 5px 1px #000;
	font-family: 'Raleway';
	font-size: 2.5vh;
	color: white;
	text-shadow: 1px 1px 3px #000;
}

.main-button:hover {
	cursor: pointer;
	opacity: 0.40;
}

.button-selected {
	opacity: 0.6;
}

/* New User Page *****************************/
#greeting h1 {
	margin: 0;
	font-size: 20vh;
}

#welcome-blurb {
	margin: 0 auto;
	width: 50vh;
	font-size: 1.75vh;
}

#blurb-text {
	position: relative;
}

.instruction {
	display: inline-block;
	position: relative;
	margin: 2vh auto;
	bottom: 1.25vh;
	left: .5vh;
}

.welcome-number {
	margin: 0;
	font-size: 6vh;
	color: #007AA3;
}

#username {
	margin: 0 auto;
	display: block;
	padding-left: 2vh;
	width: 40vh;
	height: 6vh;
	line-height: 6vh;
	font-size: 5vh;
	border: .3vh solid #007AA3;	
	border-radius: 1vh
}

.validation {
	display: none;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 39vh;
	font-size: 1.25vh;
}

#hue-ip {
	margin: 0 auto;
	display: block;
	padding-left: 2vh;
	width: 30vh;
	height: 2vh;
	line-height: 2vh;
	border: .3vh solid #007AA3;
	font-size: 1.5vh;
	border-radius: 1vh
}

#ip-info {
	display: block;
	margin: 0;
	margin-top: -3.25vh;
	margin-bottom: 2vh;
	font-size: 1.25vh;
	color: #007AA3;
}

#ip-info:hover {
	cursor: pointer;
	color: red;
}

#ip-tooltip {
	display: none;
	position: absolute;
	margin: 0 auto;
	padding: .75vh;
	z-index: 5;
	left: 0;
	right: 0;
	min-height: 25vh;
	width: 40vh;
	background-color: #EEEEEE;
	border: .3vh solid #007AA3;	
	border-radius: 1vh;
	box-shadow: 0 0 15px #000;
}

#ip-tooltip-close {
	position: absolute;
	color: #007AA3;
	right: 5px;
}

#ip-tooltip-close:hover {
	cursor: pointer;
	color: red;
}

#ip-tooltip-info {
	position: relative;
	margin: 0 auto;
	margin-top: 2vh;
	height: 80%;
	width: 99%;
	font-size: 1.25vh;
}

#ip-tooltip-info p {
	display: block;
	margin: 0 auto;	
	margin-bottom: 2vh;
	width: 90%;
}

#ip-tooltip-info span {
	display: block;
	font-size: 4vh;
	color: #007AA3;
}

#register {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 2vh;
	height: 10vh;
	line-height: 10vh;
	width: 90%;
	background-color: #0086b3;
	color: white;
	font-size: 4.25vh;
	border-radius: 1vh;
	text-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

#register:hover {
	cursor: pointer;
	background-color: #004d67;
}

.result-wrapper {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(62, 62, 62, 0.7);
}

#loading {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 13vh;
	top: 40vh;	
	font-size: 15vh;
	color: white;
}

.result-type {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 20vh;
	padding: 2vh;
	width: 60%;
	min-width: 50vh;
	height: 30vh;
	text-align: center;
	background-color: white;
	box-shadow: 3px 3px 10px #000;
}

.result-type h1 { 
	margin: 0;
	font-size: 10vh;
}

.result-type span {
	display: block;
	margin: 0;
}

.result-type a {
	position: relative;
	padding: 1vh 4vh 1vh 4vh;
	height: 5vh;
	line-height: 5vh;
	width: 18vh;
	font-size: 3vh;
	top: 3vh;
	text-decoration: none;
	color: white;
	text-shadow: 1px 1px .5px #000;
	background-color: rgb(47, 252, 40);
	border-radius: 1vh;
	box-shadow: 2px 2px 3px #000;
}

.result-type a:hover {
	cursor: pointer;
	background-color: #FF2800;
}

.result-type #try-again {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 3vh;
	margin: 0 auto;
	width: 70%;
	height: 6vh;
	line-height: 6vh;
	background-color: #00ace6;
	color: white;
	font-size: 3vh;
	text-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
	border-radius: 1vh;
}

.result-type #try-again:hover {
	cursor: pointer;
	background-color: #FF2800;
}

#secret-goldblum {
	position: absolute;
	float: right;
	overflow: hidden;
	height: 1.75vh;
	width: 16vh;
	bottom: 0;
	right: 1vh;
	border-radius: 3vh 3vh 0 0;
	opacity: 0.0;
}

#secret-goldblum:hover {
	cursor: pointer;
	opacity: 1.0 !important;
}

#secret-goldblum img {
	position: absolute;
	top: -9.75vh;
	left: 0;
	right: 0;
	width: 100%;
}

#goldbloom-trigger {
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	height: 2vh;
	width: 2vh;
	border-radius: 50%;
}

#goldbloom-trigger:hover {
	box-shadow: 0 0 10vh 5vh #0086b3;
}

.goldblum {
	margin: 1vh 3vh;
	height: 9vh;
	border-radius: 50%;
}

.goldblum-text {
	position: relative;
	bottom: 2.5vh;
}