#zone_select {
    position: relative;
}
.line {
  float: left;
  display: inline-block;
  width: 100%;
}

.row {
  float: left;
  height: 20px;
  width: 20px;
  margin: 1px;
}

.selected {
  background-color: red;
}

#grid{
  margin-left: auto;
  margin-right: auto;
  width: 352px;
  height: 12.5em;
}

#grid-title {
    position: absolute;
    top: -2vh;
    right: 3vh;
    font-family: 'Raleway', sans-serif;
    font-size: 3vh;
    background-color: #EEEEEE;
}

#zone-select{
  position: relative;
  margin: 1vh auto;
  padding: 3vh;
  max-width: 80%;
  min-height: 1vh;
  border-top: 2px solid #007AA3;
  border-radius: 5px;
}
