<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en-US">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <!-- CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/screenbloom.css"/>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

        <title>ScreenBloom</title>
    </head>
<body>
    <div id="hidden-menu" class="border-animate">
        <div id="top" class="animate">
            <i class="fa fa-arrow-circle-up"></i>
            <span>Top</span>
        </div>

        <div id="hidden-logo">
            <span class="raleway">Screen</span><span id="hidden-bloom" class="lobster color-animate">Bloom</span>
        </div>

        <div id="hidden-nav">
            <span id="nav-about" class="animate">About</span>
            <span id="nav-download" class="animate">Download</span>
            <span id="nav-support" class="animate">Support</span>
        </div>
    </div>

    <div id="main-container" class="container">
        <div id="welcome-section" class="container">
            <div id="welcome-inner" class="container">
                <div id="logo-container" class="container">
                    <div id="logo" class="container box-shadow-animate">
                        <h1 class="raleway">Screen</h1><h1 id="bloom" class="lobster color-animate">Bloom</h1>

                        <span>Sync your Philips Hue lights to your PC screen in real time</span>
                    </div>
                </div>

                <div id="buttons-container" class="container">
                    <div id="about-button" class="button animate">About</div>
                    <div id="download-button" class="button animate">Download</div>
                    <div id="help-button" class="button animate">Support</div>
                </div>
            </div>
        </div>

        <div id="about-section" class="container">
            <div id="about-section-title" class="section-title lobster color-animate">About ScreenBloom</div>

            <div id="about-text" class="container">
                ScreenBloom uses <a href="https://www.python.org/">Python</a> to grab the average color of your current screen and sends that value to your Hue Lights.
                    <div id="github-link">
                        View Source Code
                        <a id="git-link" href="https://github.com/kershner/screenbloom" class="animate"><i class="fa fa-github"></i></a>
                        <span class="code-link"><a href="https://github.com/kershner/screenBloom/blob/master/app/screenbloom.py">Python Routes</a></span>
                        <span class="code-link"><a href="https://github.com/kershner/screenBloom/blob/master/app/modules/screenbloom_functions.py">Python Logic</a></span>
                        <span class="code-link"><a href="https://github.com/kershner/screenBloom/tree/master/app/static/js">JavaScript</a></span>
                    </div>
                Roughly once per second a screenshot of your current screen is taken and converted into
                a list of RGB (red, green, blue) values for each pixel.
                <br>
                <br>
                Each pixel is then looped through and its RGB values added to a running total.  At the end of the
                loop these totals are averaged to give a good approximation of the current screen's average color.
                    <div id="demonstration">
                        <div class="responsive-image">
                            <img src="/static/images/large.jpg">
                        </div>
                        <span class="demo-text">Original Desktop Image</span>

                        <i class="fa fa-chevron-down"></i>

                        <img src="/static/images/small.jpg">
                        <span class="demo-text">Desktop Image Resized</span>

                        <i class="fa fa-chevron-down"></i>

                        <div id="color-swatch"></div>
                        <span class="demo-text">Avg Color Extracted</span>

                        <i class="fa fa-chevron-down"></i>

                        <div id="demo-screen">
                            <img src="/static/images/large.jpg">
                        </div>
                        <span class="demo-text" style="color: white; text-shadow: 1px 1px 3px #000;">Color sent to Hues</span>
                    </div>
                Along with some other functions like accounting for the number of dark pixels, the average color
                is then converted to a <a href="http://en.wikipedia.org/wiki/CIE_1931_color_space">CIE</a> value used by Hue and the lights are updated.
                <br>
                <br>
                Check out some videos of ScreenBloom in action:
            </div>

            <div class="video">
                <div class=video-wrapper>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Suv3HkiSDbc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div id="download-section" class="container">
            <div id="download-info" class="animate">
                <div id="release-notes">
                    <span class="version">Version 0.60</span>
                    <span class="version">February 2015</span>

                    <span id="release-notes-title" class="raleway">Release Notes</span>

                    <div id="release-notes-text">
                        <span>- No data transmitted to bulbs if newly computed color is the same or too similar to current color, reduces flicker and is more efficient</span>
                        <span>- Fix for large number of Hue bulbs breaking interface</span>
                        <span>- Can manually enter IP address for bridge if SSDP fails</span>
                    </div>
                </div>

                <div id="download-link" class="click-button">
                    <a href="http://kershner.org/static/distribute/screenbloom_setup.exe">
                        Get ScreenBloom
                        <br>
                        <span class="download-size">7 MB</span>
                    </a>
                </div>


                <div id="latest-version" class="section-title lobster">Latest Version</div>
            </div>

            <div id="download-section-title" class="section-title lobster color-animate">Download</div>
        </div>

        <div id="support-section" class="container">
            <div id="support-section-title" class="section-title lobster color-animate">Support</div>

            <div id="support-text" class="container">
                <span>Have a question about ScreenBloom?</span>
                <span>Check out the FAQ below or send me an <a href="mailto:tylerkershner@gmail.com">email</a> directly</span>
            </div>

            <div id="faq-container">
                <div class="faq">
                    <div class="question raleway">Can I use ScreenBloom with videogames?</div>

                    <div class="answer">
                        Definitely, but with one caveat.
                        <br>
                        <br>
                        Games need to be run in windowed mode to have their pixels parsed by
                        ScreenBloom.  Many games offer an official 'Fullscreen Windowed' mode which makes this process
                        very simple.
                        <br>
                        <br>
                        For everything else there is a free program available.
                        <a href="http://westechsolutions.net/sites/WindowedBorderlessGaming/">
                            <span id="borderless-link" class="click-button">Windowed Borderless Gaming</span>
                        </a>
                        With this software you can turn any windowed application into a borderless fullscreen one.  Perfect for ScreenBloom!
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">What kind of resources does ScreenBloom consume?</div>

                    <div class="answer">
                        The fully installed application takes up roughly 20MB of disk space.
                        <br>
                        <br>
                        While running, ScreenBloom lives in ~16MB of RAM and uses just 1%
                        of the CPU.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">What is this DOS-looking window?</div>
                    <div class="responsive-image">
                        <img src="/static/images/console.png" alt="ScreenBloom diagnostic console">
                    </div>

                    <div class="answer">
                        This is the diagnostic console for the program.  This window is where ScreenBloom will output
                        messages about its status and any error messages that have occurred.
                        <br>
                        <br>
                        If you experience any problems with ScreenBloom the diagnostic console is the first place to
                        look.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">I'm getting a 'permission denied' error</div>

                    <div class="answer">
                        ScreenBloom needs to create and write to a configuration file to hold your specified settings.
                        This error can occur if ScreenBloom does not have write permissions for files in its directory.
                        <br>
                        <br>
                        The issue is usually resolved by running the program as an administrator.
                    </div>
                </div>

                <div class="faq">
                    <div class="question raleway">Can I access ScreenBloom from a mobile device?</div>

                    <div class="answer">
                        Absolutely!
                        <br>
                        <br>
                        ScreenBloom runs on a specific IP address and port on your local network in the format below:
                    </div>

                    <div id="ip-demo">
                        192.168.0.X:5000
                    </div>

                    <div class="answer">
                        Your machine-specific address is displayed in the diagnostic console window every time ScreenBloom starts up.
                    </div>

                    <div class="responsive-image">
                        <img src="/static/images/ip.png" alt="IPV4 address for ScreenBloom">
                    </div>

                    <div class="answer">
                        Simply navigate to this address on your mobile device and you'll have full control of
                        the ScreenBloom process.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScripts -->
    <script type="text/javascript" src="/static/js/randomColor.js"></script>
    <script type="text/javascript" src="/static/js/screenbloom.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            screenBloom();
        });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-60017232-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>