<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=yes">
        {% if title %}
            <title>ScreenBloom - {{ title }}</title>
        {% else %}
            <title>ScreenBloom</title>
        {% endif %}

{#        <!---------------- Compiled References ---------------->#}
{#        <!-- Favicon -->#}
{#        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">#}
{#        <link rel="icon" href="favicon.png" type="image/x-icon">#}
{##}
{#        <!-- CSS -->#}
{#        <link type="text/css" rel="stylesheet" href="font-awesome-prod.min.css"/>#}
{#        <link type="text/css" rel="stylesheet" href="colpick.css"/>#}
{#        <link type="text/css" rel="stylesheet" href="screenbloom.css"/>#}

        <!-- Non-Compiled References -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.png" type="image/x-icon">

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>
        <link type="text/css" rel="stylesheet" href="/static/css/colpick.css"/>
        <link type="text/css" rel="stylesheet" href="/static/css/screenbloom.css"/>
    </head>

    <body>
        <div class="result-wrapper">
            <i id="loading" class="fa fa-spinner fa-spin animate"></i>
        </div>

        <div id="header">
            <div id="header-container">
                <h1 class="header-title raleway">Screen</h1><h1 class="header-title lobster"><span class="bloom color-animate">Bloom</span></h1>
            </div>
        </div>

        <div id="container" class="container">
            <div class="notification-sidebar"></div>

            {% block content %}{% endblock %}

            <div id="secret-goldblum" class="animate">
                <img alt="Secret Goldblum!" src="goldblum.jpg" class="animate">
                <div id="goldbloom-trigger" class="animate"></div>
            </div>
        </div>

{#        <!-------------- Compiled ---------------->#}
{#        <!-- JavaScripts -->#}
{#        <script type="text/javascript" src="jquery-2.2.0.min.js"></script>#}
{#        <script type="text/javascript" src="randomColor.js"></script>#}
{#        <script type="text/javascript" src="colpick.js"></script>#}
{#        <script type="text/javascript" src="screenBloom.js"></script>#}
{#        <script type="text/javascript" src="zoneselect.js"></script>#}

        <!-- Non-Compiled --->
        <!-- JavaScripts -->
        <script type="text/javascript" src="/static/js/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="/static/js/randomColor.js"></script>
        <script type="text/javascript" src="/static/js/colpick.js"></script>
        <script type="text/javascript" src="/static/js/screenBloom.js"></script>
        <script type="text/javascript" src="/static/js/zoneselect.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                screenBloom.config.briUrl = '{{ url_for("update_bri") }}';
                screenBloom.config.updateSpeedUrl = '{{ url_for("update_update_speed") }}';
                screenBloom.config.defaultColorUrl = '{{ url_for("update_default_color") }}';
                screenBloom.config.partyModeUrl = '{{ url_for("update_party_mode") }}';
                screenBloom.config.zoneUrl = '{{ url_for('update_zones') }}';
                screenBloom.config.bulbsUrl = '{{ url_for("update_bulbs") }}';

                {% if state %}
                screenBloom.config.state = {{ state}};
                {% endif %}

                {% if default_color %}
                screenBloom.config.defaultColor = {{ default_color|safe }};
                {% endif %}

                var zones = [];
                {% if zones %}
                    zones = {{ zones|safe }};
                {% endif %}

                var availableLights = {};
                {% for light in lights %}
                    {% if light[3] %}
                        availableLights[{{ light[0] }}] = '{{ light[2] }}';
                    {% endif %}
                {% endfor %}

                zoneGrid.zones = zones;
                zoneGrid.lights = availableLights;
                zoneGrid.init();

                screenBloom.init();
            });
      </script>
    </body>
</html>