<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US">
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=yes">
        {% if title %}
            <title>ScreenBloom - {{ title }}</title>
        {% else %}
            <title>ScreenBloom</title>
        {% endif %}

        <!-- ---------------- Compiled References ---------------- -->
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
        <link rel="icon" href="favicon.png" type="image/x-icon">

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="screenbloom.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

        <!--&lt;!&ndash; ---------------- Non-Compiled References ---------------- &ndash;&gt;-->
        <!--&lt;!&ndash; Favicon &ndash;&gt;-->
        <!--<link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">-->
        <!--<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">-->

        <!--&lt;!&ndash; CSS &ndash;&gt;-->
        <!--<link type="text/css" rel="stylesheet" href="/static/css/screenbloom.css"/>-->
        <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->

        <!--&lt;!&ndash; Fonts &ndash;&gt;-->
        <!--<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>-->
        <!--<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>-->
        <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>-->

        <!--&lt;!&ndash; jQuery &ndash;&gt;-->
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
    </head>

    <body>
        <div class="result-wrapper">
            <i id="loading" class="fa fa-spinner fa-spin animate"></i>
        </div>

        <div id="edit-settings-wrapper">
            <div id="notification">Settings Updated</div>

            <div id="edit-settings">
                <i id="edit-settings-close" class="fa fa-times animate"></i>

                <div id="bulb-select" class="box">
                    <span id="bulb-select-title" class="title color-animate">Bulb Select</span>
                    {% for light in lights %}
                        {% if light[3] %}
                            <div id="light-{{ light[0] - 1 }}" class="bulb-container bulb-select-icon bulb-select-selected animate">
                        {% else %}
                            <div id="light-{{ light[0] - 1 }}" class="bulb-container bulb-select-icon animate">
                        {% endif %}
                            <span>{{ light[0]}}</span>
                            <i class="fa fa-lightbulb-o"></i>
                            <span>{{ light[2]}}</span>
                            <input type="text" value="{{ light[3] }}" class="bulb-select-input">
                        </div>
                    {% endfor %}
                    <div id="more-bulbs">
                        <i id="show-more-icon" class="fa fa-ellipsis-h animate"></i>
                        <span id="show-all" class="animate">Show All</span>
                    </div>
                </div>

                {% if expanded_lights %}
                <div id="bulb-select-expanded" class="box">
                    <i id="bulb-select-expanded-close" class="fa fa-times animate"></i>
                    <span id="bulb-select-expanded-title" class="title color-animate">Bulb Select Expanded</span>
                    {% for light in expanded_lights %}
                        {% if light[3] %}
                            <div id="light-{{ light[0] - 1 }}" class="bulb-container bulb-select-icon bulb-select-selected animate">
                        {% else %}
                            <div id="light-{{ light[0] - 1 }}" class="bulb-container bulb-select-icon animate">
                        {% endif %}
                            <span>{{ light[0]}}</span>
                            <i class="fa fa-lightbulb-o"></i>
                            <span>{{ light[2]}}</span>
                            <input type="text" value="{{ light[3] }}" class="bulb-select-input">
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

                <div id="brightness" class="box">
                    <span id="brightness-title" class="title color-animate">Brightness</span>
                    <span class="blurb">Brightness of the bulbs</span>

                    <div class="slider">
                        <output id="bri-slider-output" for="bri-slider">{{ bri }}</output>
                        <div class="slider-max">/ 254</div>
                        <br>
                        <input id="bri-slider" class="slider" type="range" min="1" max="254" value="{{ bri }}">
                    </div>
                </div>

                <div id="dynamic-brightness" class="box">
                    <span id="dynamic-brightness-title" class="title color-animate">Dynamic Brightness</span>
                    <span class="blurb" style="font-size: 1.5vh;">Brightness varies with the ratio of black pixels</span>

                    <div id="dynamic-bri-container">
                        {% if dynamic_bri %}
                            <div id="dynamic-bri-button" class="dynamic-bri-on animate">
                            <i class="fa fa-lightbulb-o"></i>
                            <span id="dynamic-bri-state">On</span>
                            <input id="dynamic-bri-input" type="text" value="1">
                        {% else %}
                        <div id="dynamic-bri-button" class="animate">
                            <i class="fa fa-lightbulb-o"></i>
                            <span id="dynamic-bri-state">Off</span>
                            <input id="dynamic-bri-input" type="text" value="0">
                        {% endif %}
                        </div>

                        <div id="dynamic-bri-slider-container">
                            <output id="dynamic-bri-slider-output" for="dynamic-bri-slider">{{ min_bri }}</output>
                            <div class="slider-max">/ 254</div>
                            <input id="dynamic-bri-slider" class="slider" type="range" min="1" max="254" value="{{ min_bri }}">
                            <span>Minimum Brightness</span>
                        </div>
                    </div>
                </div>

                <div id="update-speed" class="box">
                    <span id="update-speed-title" class="title color-animate">Update Speed</span>
                    <span class="blurb" style="font-size: 1.5vh;">Higher values for a more suble transition</span>
                    <br>
                    <output id="update-speed-slider-output" for="dynamic-bri-slider">{{ update }}</output>
                    <div class="slider-max"><span style="font-size: 1.25vh;">(seconds)</span></div>
                    <br>
                    <input id="update-speed-slider" class="slider" type="range" min="0.7" max="1.9" step="0.10" value="{{ update }}">
                </div>

                <div id="apply" class="raleway animate">Apply</div>
            </div>
        </div>

        <div id="header">
            <div id="header-container">
                <h1 class="header-title raleway">Screen</h1><h1 class="header-title lobster"><span class="bloom color-animate">Bloom</span></h1>
            </div>
        </div>

        <div id="container">
            {% block content %}{% endblock %}
        </div>

        <!-- ---------------- Compiled ---------------- -->
        <!-- JavaScripts -->
        <script type="text/javascript" src="randomColor.js"></script>
        <script type="text/javascript" src="screenBloom.js"></script>

        <!--&lt;!&ndash; ---------------- Non-Compiled ---------------- &ndash;&gt;-->
        <!--&lt;!&ndash; JavaScripts &ndash;&gt;-->
        <!--<script type="text/javascript" src="/static/js/randomColor.js"></script>-->
        <!--<script type="text/javascript" src="/static/js/screenBloom.js"></script>-->

        <script type="text/javascript">
            $(document).ready(function() {
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                screenBloom();
                {% if title == 'Home' %}
                window.lightsNumber = {{ lights_number }};
                runningCheck();
                updateConfig();
                bulbExpand({{ lights_number }});
                {% endif %}
            });
        </script>
    </body>
</html>