<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en-US">
    <head>
        <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=yes">
        {% if title %}
            <title>ScreenBloom - {{ title }}</title>
        {% else %}
            <title>ScreenBloom</title>
        {% endif %}

        <!-- Favicon -->
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/static/css/screenbloom.css"/>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    </head>

    <body>
        <div class="result-wrapper">
            <i id="loading" class="fa fa-spinner fa-spin animate"></i>
        </div>

        <div id="edit-settings-wrapper">
            <div id="notification">Settings Updated</div>

            <div id="edit-settings">
                <i id="edit-settings-close" class="fa fa-times animate"></i>

                <div id="bulb-select" class="box">
                    <span id="bulb-select-title" class="title animate">Bulb Select</span>
                    {% for light in lights %}
                        {% if light[3] %}
                            <div class="bulb-container bulb-select-icon bulb-select-selected animate">
                        {% else %}
                            <div class="bulb-container bulb-select-icon animate">
                        {% endif %}
                            <span>{{ light[0]}}</span>
                            <i class="fa fa-lightbulb-o"></i>
                            <span>{{ light[2]}}</span>
                            <input type="text" value="{{ light[3] }}" class="bulb-select-input">
                        </div>
                    {% endfor %}
                </div>

                <div id="saturation" class="box">
                    <span id="saturation-title" class="title animate">Saturation</span>
                    <span class="blurb">Intensity of the color</span>

                    <div class="slider">
                        <output for="sat-slider" id="sat-output">{{ sat }}</output>
                        <div class="slider-max">/ 255</div>
                        <br>
                        <input type="range" min="1" max="255" value="{{ sat }}" id="sat-slider" onchange="outputUpdate('#sat-output', value)" class="slider">
                    </div>
                </div>

                <div id="brightness" class="box">
                    <span id="brightness-title" class="title animate">Brightness</span>
                    <span class="blurb">Brightness of the bulbs</span>

                    <div class="slider">
                        <output for="bri-slider" id="bri-output">{{ bri }}</output>
                        <div class="slider-max">/ 254</div>
                        <br>
                        <input type="range" min="1" max="254" value="{{ bri }}" id="bri-slider" onchange="outputUpdate('#bri-output', value)" class="slider">
                    </div>
                </div>

                <div id="transition" class="box">
                    <span id="transition-title" class="title animate">Transition Time</span>
                    <span class="blurb">In multiples of 100ms</span>

                    <div class="slider">
                        <output for="transition-slider" id="transition-output">{{ transition }}</output>
                        <div class="slider-max">/ 20</div>
                        <br>
                        <input type="range" min="1" max="20" value="{{ transition }}" id="transition-slider" onchange="outputUpdate('#transition-output', value)" class="slider">
                    </div>
                </div>

                <div id="dynamic-brightness" class="box">
                    <span id="dynamic-brightness-title" class="title animate">Dynamic Brightness</span>
                    <span class="blurb" style="font-size: 1.5vh;">Brightness varies with the ratio of black pixels</span>

                    <div id="dynamic-bri-container">
                        {% if dynamic_bri %}
                            <div id="dynamic-bri-button" class="dynamic-bri-on animate">
                            <i class="fa fa-lightbulb-o"></i>
                            <span id="dynamic-bri-state">On</span>
                            <input id="dynamic-bri-input" type="text" value="1">
                        {% else %}
                        <div id="dynamic-bri-button" class="animate">
                            <i class="fa fa-lightbulb-o"></i>
                            <span id="dynamic-bri-state">Off</span>
                            <input id="dynamic-bri-input" type="text" value="0">
                        {% endif %}
                        </div>

                        <div id="dynamic-bri-slider-container">
                            <output for="transition-slider" id="dynamic-bri-output">{{ min_bri }}</output>
                            <div class="slider-max">/ 254</div>
                            <input type="range" min="1" max="254" value="{{ min_bri }}" id="dynamic-bri-slider" onchange="outputUpdate('#dynamic-bri-output', value)" class="slider">
                            <span>Minimum Brightness</span>
                        </div>
                    </div>
                </div>

                <div id="apply" class="raleway animate">Apply</div>
            </div>
        </div>

        <div id="header">
            <div id="header-container">
                <h1 class="header-title raleway">Screen</h1><h1 class="header-title lobster"><span class="bloom animate">Bloom</span></h1>
            </div>
        </div>

        <div id="container">
            {% block content %}{% endblock %}
        </div>

        <!-- JavaScripts -->
        <script type="text/javascript" src="/static/js/randomColor.js"></script>
        <script type="text/javascript" src="/static/js/screenBloom.js"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
                screenBloom();
                {% if title == 'Home' %}
                    runningCheck();
                    updateConfig();
                {% endif %}
            });
        </script>
    </body>
</html>