{% extends "/base.html" %}
{% block content %}

<div id="current-settings">
    <div id="settings-title">Settings</div>

    <div id="current-username" class="raleway"> {{ username }} </div>

    <div id="settings-labels">
        <div class="setting">Saturation:</div>
        <div class="setting">Brightness:</div>
        <div class="setting">Transition:</div>
    </div>

    <div id="settings-values">
        <div class="settings-values">
            <div id="sat-value" class="setting">{{ sat }}</div>
            <div id="bri-value" class="setting">{{ bri }}</div>
            <div id="trans-value" class="setting">{{ transition }}</div><span id="ms">ms</span>
        </div>
    </div>

    <div id="edit-settings-icon" class="animate">
        <i class="fa fa-pencil-square-o"></i>
        <Span>Edit</Span>
    </div>

    <div id="on-indicator">
        <span id="on-status" class="animate">ScreenBloom is not running</span>
        <i id="running" class="fa fa-lightbulb-o animate"></i>
    </div>
</div>

<div id="bulbs">
    <div id="bulbs-title">Bulbs</div>

    {% for light in lights %}
        {% if light[3] %}
        <div id="bulb-{{ light[0] }}" class="bulb-container">
        {% else %}
        <div id="bulb-{{ light[0] }}" class="bulb-container bulb-inactive">
        {% endif %}
            <span>{{ light[0]}}</span>
            <i class="fa fa-lightbulb-o animate"></i>
            <span>{{ light[2]}}</span>
        </div>
    {% endfor %}
</div>

<div id="start-stop">
    <div id="start-stop-title"><span class="raleway">Screen</span><span class="lobster bloom animate">Bloom</span></div>

    <div id="start" class="main-button animate" style="background-color: #0086b3;"><span class="raleway">Screen</span><span class="lobster bloom animate">Bloom</span></div>
    <div id="stop" style="background-color: #FF2800;" class="main-button animate">Stop</div>
</div>

<a id="exit-link" class="animate raleway" href="/end-app">Exit</a>

<script type="text/javascript">

</script>
{% endblock %}