{% extends "/base.html" %}
{% block content %}

<div id="current-settings">
    <div id="settings-title" class="color-animate">Settings</div>
    <div id="current-username" class="raleway"> {{ username }}</div>

    <div class="setting">
        <div class="setting-circle animate"><span class="setting-value">{{ min_bri }}</span></div>
        <div class="setting-label">Minimum<br>Brightness</div>

        <div class="setting-input hidden">
            <i class="fa fa-close setting-input-close"></i>
            <output id="dynamic-bri-slider-output">{{ min_bri }}</output>
            <div class="slider-max">/ 254</div>
            <input id="dynamic-bri-slider" class="slider" type="range" min="1" max="254" value="{{ min_bri }}">
            <div class="setting-input-submit animate" data-url="minBriUrl">Save</div>
        </div>
    </div>

    <div class="setting">
        <div class="setting-circle animate"><span class="setting-value">{{ update }}</span><span class="seconds">seconds</span></div>
        <div class="setting-label">Update<br>Speed</div>

        <div class="setting-input hidden">
            <i class="fa fa-close setting-input-close"></i>
            <output id="update-speed-slider-output">{{ update }}</output>
            <div class="slider-max"><span style="font-size: 1.25vh;"><br>(seconds)</span></div>
            <input id="update-speed-slider" class="slider" type="range" min="0.1" max="2" step="0.10" value="{{ update }}">
            <div class="setting-input-submit animate" data-url="updateSpeedUrl">Save</div>
        </div>
    </div>

    <div class="setting">
        <div class="setting-circle animate" style="background-color: rgb({{ default }});"></div>
        <div class="setting-label">Default<br>Color</div>

        <div class="setting-input hidden" style="width: 14em;">
            <div id="color-picker-close"><i class="fa fa-close setting-input-close"></i></div>
            <div id="picker" class="picker"></div>
            <div class="setting-input-submit animate" data-url="defaultColorUrl">Save</div>
        </div>
    </div>

    <div class="setting party-mode-btn">
        <div class="setting-circle animate"><span>{{ 'On' if party_mode else 'Off' }}</span></div>
        <div class="setting-label">Party<br>Mode</div>

        <div class="setting-input hidden">
            <input type="text" value="{{ 1 if party_mode else 0 }}">
        </div>
    </div>
</div>

<div id="bulbs">
    <div id="bulbs-title" class="color-animate">Bulbs</div>

    {% for light in lights %}
        <div id="bulb-{{ light[0] }}" class="bulb-container {{ 'bulb-inactive' if not light[3] else '' }}" data-light="{{ light[0] }}">
            <span>{{ light[0]}}</span>
            <i class="fa fa-lightbulb-o animate" style="font-size: {{ icon_size }}vh;"></i>
            <span>{{ light[2]}}</span>
        </div>
    {% endfor %}
    <div class="update-bulbs animate hidden">Update Bulbs</div>
    <div id="on-off" class="animate">Turn Lights <span id="on-state">On</span></div>
</div>

<div id="start-stop">
    <div id="start-stop-title"><span class="raleway">Screen</span><span class="lobster bloom color-animate">Bloom</span></div>

    <div id="start" class="main-button animate">Start</div>
    <div id="stop" class="main-button animate">Stop</div>
</div>

{% endblock %}