{% extends "/base.html" %}
{% block content %}

<div id="current-settings">
    <div id="settings-title" class="color-animate">Settings</div>

    <div class="setting setting-md">
        <div id="bri-setting-circle" class="setting-circle animate">
            <div class="bri-circle-value">
                <span class="bri-circle-label">Max</span>
                <span id="circle-max" class="setting-value">{{ max_bri }}</span>
            </div>

            <div class="bri-circle-value">
                <span class="bri-circle-label">Min</span>
                <span id="circle-min" class="setting-value">{{ min_bri }}</span>
            </div>
        </div>

        <div class="setting-label">Brightness<br>Level</div>

        <div class="setting-input hidden">
            <div class="setting-input-label">
                <div id="tester">Brightness</div>
                <i class="fa fa-question-circle-o simple-tooltip" title="These sliders determine the range of brightness ScreenBloom will be able to send to your bulbs.  Set them equal to each other for a static setting."></i>
            </div>
            <i class="fa fa-close setting-input-close"></i>
            <div class="setting-input-spacer"></div>

            <div class="bri-slider-label">Max</div>
            <div class="bri-slider-output">
                <output id="max-bri-slider-output">{{ max_bri }}</output>
                <div class="slider-max">/ 254</div>
            </div>
            <input id="max-bri-slider" class="slider" type="range" min="{{ min_bri }}" max="254" value="{{ max_bri }}">

            <br>
            <br>

            <div class="bri-slider-label">Min</div>
            <div class="bri-slider-output">
                <output id="min-bri-slider-output">{{ min_bri }}</output>
                <div class="slider-max">/ 254</div>
            </div>
            <input id="min-bri-slider" class="slider" type="range" min="1" max="{{ max_bri }}" value="{{ min_bri }}">

            <br>
            <br>
            <div class="black-color-container">
                <div class="black-color-title">Black Color <i class="fa fa-question-circle-o simple-tooltip" title="Black color help text."></i></div>
                <div class="black-color-choice animate simple-tooltip" data-rgb="0,0,0" style="background-color: rgb{{ blue }}" title="Blue color help text.">
                    {% if black_rgb == ['0', '0', '0'] %}
                    <div class="black-color-selection-indicator"></div>
                    {% endif %}
                </div>
                <div class="black-color-choice animate simple-tooltip" data-rgb="1,1,1" style="background-color: rgb{{ white }};" title="White color help text.">
                    {% if black_rgb == ['1', '1', '1'] %}
                    <div class="black-color-selection-indicator"></div>
                    {% endif %}
                </div>
            </div>

            <div class="setting-input-submit animate" data-url="briUrl">
                <i class="fa fa-gear fa-spin loader hidden"></i>
                <span class="setting-input-text">Save</span>
            </div>
        </div>
    </div>

    <div class="setting setting-md">
        <div class="setting-circle animate"><span class="setting-value">{{ update }}</span><span class="seconds">seconds</span></div>
        <div class="setting-label">Update<br>Speed</div>

        <div class="setting-input hidden">
            <div class="setting-input-label">
                <div>Update Speed</div>
                <i class="fa fa-question-circle-o simple-tooltip" aria-hidden="true" title="This is the speed of each color transition.  Higher values will be smoother while lower values can seem more responsive."></i>
            </div>
            <i class="fa fa-close setting-input-close"></i>
            <div class="setting-input-spacer"></div>

            <output id="update-speed-slider-output">{{ update }}</output>
            <div class="slider-max"><span style="font-size: 1.25vh;"><br>(seconds)</span></div>
            <input id="update-speed-slider" class="slider" type="range" min="0.1" max="2" step="0.10" value="{{ update }}">
            <div class="setting-input-submit animate" data-url="updateSpeedUrl">
                <i class="fa fa-gear fa-spin loader hidden"></i>
                <span class="setting-input-text">Save</span>
            </div>
        </div>
    </div>

    <div class="setting">
        <div class="setting-circle default-color-circle animate" style="background-color: rgb({{ default }});"></div>
        <div class="setting-label">Default<br>Color</div>

        <div class="setting-input hidden" style="width: 14em;">
            <div class="setting-input-label">
                <div>Default Color</div>
                <i class="fa fa-question-circle-o simple-tooltip" aria-hidden="true" title="This is the color your lights will return to when ScreenBloom is stopped."></i>
            </div>
            <i class="fa fa-close setting-input-close"></i>
            <div class="setting-input-spacer"></div>

            <div id="picker" class="picker"></div>
            <div class="setting-input-submit animate" data-url="defaultColorUrl">
                <i class="fa fa-gear fa-spin loader hidden"></i>
                <span class="setting-input-text">Save</span>
            </div>
        </div>
    </div>

    <div class="setting party-mode-btn">
        <div class="setting-circle {{ 'setting-clicked' if party_mode }} party-mode-circle simple-tooltip animate" title="Sends a random color to each active bulb using your selected update speed.">
            <i class="fa fa-gear fa-spin loader hidden"></i>
            <span class="setting-input-text">{{ 'On' if party_mode else 'Off' }}</span>
        </div>
        <div class="setting-label">Party<br>Mode</div>

        <div class="setting-input hidden">
            <input type="text" value="{{ 1 if party_mode else 0 }}">
        </div>
    </div>

    <div class="setting" id="zone-btn">
        <div class="setting-circle animate">
            <i class="fa fa-gear fa-spin loader hidden"></i>
            <span class="setting-input-text" id="zone-state">{{ 'On' if zone_state else 'Off' }}</span>
        </div>
        <div class="setting-label">Screen<br>Zones</div>

        <div id="zone-grid-input" class="setting-input hidden">
            <div class="setting-input-label">
                <div>Screen Zones</div>
                <i class="fa fa-question-circle-o simple-tooltip" aria-hidden="true" title="Zone mode allows you to extract colors from sections of your screen.  Each active bulb can be assigned to a zone."></i>
            </div>
            <i class="fa fa-close setting-input-close"></i>
            <div id="toggle-zone-mode" class="{{ 'toggle-zone-mode-selected' if zone_state }} animate">
                <i class="fa fa-{{ 'stop' if zone_state else 'play' }}" aria-hidden="true"></i><span>Turn Zone Mode {{ 'Off' if zone_state else 'On' }}</span>
            </div>

            <!-- Zones -->
            <div id="zone-select">
                <p class="info-text">Click on a cell to start creating a zone</p>

                <div class="grid-wrapper animate">
                    <img id="grid-image" src="data:image/png;base64,{{ screenshot }}">
                    <div id="grid"></div>
                </div>

                <div id="refresh-grid-image" class="zone-grid-control animate simple-tooltip" title="Take a new screenshot for the grid"><i class="fa fa-camera"></i></div>
                <div id="refresh-grid-colors" class="zone-grid-control animate simple-tooltip" title="Refresh grid colors"><i class="fa fa-refresh"></i></div>

                <div id="zone-bulbs"></div>

                <div class="add-bulbs-to-zone-wrapper hidden">
                    <div class="setting-input-label"><div>Available Bulbs</div></div>
                    <i class="fa fa-times close-add-bulbs-to-zone-wrapper"></i>
                    <div class="setting-input-spacer"></div>

                    <div class="available-bulbs-wrapper"></div>
                    <div class="add-bulbs-to-zone-confirm animate"><i class="fa fa-plus"></i> Add Bulbs</div>
                </div>

                <div class="zone-select-buttons">
                    <div id="revert" class="zone-grid-control animate simple-tooltip" title="Undo changes since last save"><i class="fa fa-undo"></i><span>Revert Changes</span></div>
                    <div id="save-zones" class="zone-grid-control animate"><i class="fa fa-floppy-o"></i><span>Save Changes</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="bulbs">
    <div id="bulbs-title" class="color-animate">Bulbs <i class="fa fa-question-circle-o simple-tooltip" aria-hidden="true" title="Select bulbs for ScreenBloom to address.  Each bulb can add ~10ms of delay to the update loop."></i></div>
    {% for light in lights %}
    <div id="bulb-{{ light[0] }}" class="bulb-container {{ 'bulb-inactive' if not light[3] else '' }}" data-light="{{ light[0] }}">
        <i class="fa fa-lightbulb-o animate" style="font-size: {{ icon_size }}vh;"></i>
        <span>{{ light[2]}}</span>
    </div>
    {% endfor %}
    <div class="update-bulbs animate hidden">
        <i class="fa fa-gear fa-spin loader hidden"></i>
        <span class="setting-input-text">Update Bulbs</span>
    </div>
    <div id="on-off" class="animate">
        <i class="fa fa-gear fa-spin loader hidden" style="position: relative; top: .3em;"></i>
        <span class="setting-input-text">Turn Lights <span id="on-state">On</span></span>
    </div>
</div>

<div id="start-stop">
    <div id="start-stop-title"><span class="raleway">Screen</span><span class="lobster bloom color-animate">Bloom</span></div>

    <div id="start" class="main-button animate {{ 'button-selected' if state }}">
        <span class="setting-input-text">{{ 'Start' if not state else 'Running...' }}</span>
    </div>

    <div id="stop" class="main-button animate">
        <i class="fa fa-gear fa-spin loader hidden"></i>
        <span class="setting-input-text">Stop</span>
    </div>
</div>
{% endblock %}