{% extends "/base.html" %}
{% block content %}
<div id="greeting">
    <h1 class="lobster">
        <span id="h" class="animate">H</span><span id="e" class="animate">e</span><span id="l-1" class="animate">l</span><span id="l-2" class="animate">l</span><span id="o" class="animate">o</span><span id="exclaim">!</span></h1>

    <div id="welcome-blurb">
        <span id="blurb-text" style="font-weight: bold;">ScreenBloom needs to register itself with your Philips Hue Bridge.</span><br><br>
        <span class="welcome-number lobster">1</span><span class="instruction">Press the link button on your bridge.</span><br>
        <span class="welcome-number lobster">2</span><span class="instruction">Click the button below within 30 seconds to register.</span>
    </div>

    <div id="register" class="animate">Register ScreenBloom</div>
</div>
{% endblock %}